:root {
  --bg-color:#FFF;
  --red-color:#536779;
  --heading-color-blue:blue;
}
@font-face {
  font-family: Heavitas;
  src: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.eot);
  src: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.woff2) format('woff2'),
  url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.woff) format('woff'),
  url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.ttf) format('truetype'),
  url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.svg#Heavitas) format('svg'),
  url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.eot?#iefix) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
/*start main rules*/
body{
background-color:var(--bg-color);
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-size: 18px;
color: #53545a;
}
h1{
  font-size: 55px;
  margin: 40px 0;
  color: #3b0606;
  font-weight: bold;
  
  }
.form-outline{
  position: relative;

}
.form-outline span.asterisk {
  position: absolute;
  top: 50%;
  color: red;
  right: 24px; /* adjust this value if needed */
  transform: translateY(-50%);
}
.form-group span.asterisk {
  position: absolute;
  top: 50%;
  color: red;
  right: 24px; /* adjust this value if needed */
  transform: translateY(-50%);
}
/* end main rules*/
/* start product cards*/

/* start product cards*/
/* end nav-bar
  .header{
    height: 600px;
  }*/
  .nav-img {
    max-width: 36px;
  }

  .navbar {
    background-color: var(--bg-color) !important;
    height: fit-content;
    
  }

   .navbar .md{
    
      margin-left:8rem; 
    
   }
  .navbar .cart {
    padding: 10px 20px;
  }
  .navbar .cart svg {
    color: #30302f;
    font-size: x-large;
    top: 5;
    position: relative;
  }
  .navbar .cart .count {
  top: -5;
  }
  .navbar .cart strong {
  position: relative;
  top: 1;
  font-size: 12px;
  }
  /*navigation*/
nav.r-nav{
    background:var(--red-color) !important;
    padding: 20px 0;
    transition: .5s all;
}
nav .navbar-brand{
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #fffdfc;
  text-shadow: 2px 2px 0 #000;

}
nav .navbar-nav li a,
.navbar .cart svg{
    color: rgba(255, 255, 255, 0.922) !important;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

nav .navbar-nav li {
  margin-left: 15px;


}

/*sticky*/
nav.r-nav.stickyadd{
    background-color: #fff!important;
    padding: 0;
    box-shadow: 0 1px 8px 3px rgb(255, 254, 254 ,0.5);
    transition: .5s all ease-in-out;
    opacity: 1;
    height: 12vh;
}
nav.stickyadd .navbar-brand {
    color: var(--red-color);
   font-size: 60px;
   transition: .5s all;
   

}
nav.stickyadd .navbar-nav .nav-link,
nav.stickyadd  .cart svg{
    color: #000 !important;
}

/* end nav-bar*/
/* end hero*/
.hero {
background-color: var(--red-color);
border-radius: 32px;
height: 50vh;
margin: 15px 0 30px;
}
.hero h1 {
font-size: 3rem;
color: #fff;
}
.hero p {
font-size: 1.5rem;
color: #fff;

}
.hero .btns .sell,
.hero .btns .shop {
font-size: 1.1rem;
color: var(--red-color);
margin: 15px 0px;
}
.hero h1 {
  opacity: 0;
  animation: fade-h1 1s ease-in forwards;
}

.hero p {
  opacity: 0;
  animation: fade-p 1s ease-in forwards;
}

.ag-maecenas-block .hero-btns .btn {
  
  margin: 30px;
  color: var(--red-color);
  
}
/*buble*/

.bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
  }
  
  .bubbles  {
  position: relative;
  margin: 1em 0 0;
  font-family: 'Luckiest Guy', cursive;
  color: #fff;
  z-index: 2;
  }
  
  .individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #fff;
  z-index: 1;
  }
/*buble*/



  
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-maecenas_title {
  padding: 100px 0;
  background-color:var(--red-color);
  text-align: center;
  font-family: Heavitas, sans-serif;
  font-weight: bold;
  font-size: 120px;
  color: #FFF;
  position: relative;
}
.ag-maecenas_title:before {
  content: "";
  height: 125px;
  width: 100%;
  /*lmoja*/
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/animation-wave-shadow/images/wave.svg) repeat-x scroll 0 0;
  -webkit-background-size: 1600px 198px;
  -moz-background-size: 1600px 198px;
  -o-background-size: 1600px 198px;
  background-size: 1600px 198px;

  position: absolute;
  left: 0;
  bottom: 0;

  -webkit-filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));
  filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));

  -webkit-animation: an-wave 20s linear infinite;
  -moz-animation: an-wave 20s linear infinite;
  -o-animation: an-wave 20s linear infinite;
  animation: an-wave 20s linear infinite;
}
@-webkit-keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}
@-moz-keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}
@-o-keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}
@keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}

@media screen and (max-width: 979px) {
  .ag-maecenas_title {
    font-size: 90px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-maecenas_title {
    font-size: 60px;
  }
}

@media only screen and (max-width: 479px) {
  .ag-maecenas_title {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}



/* end landing*/
/*start home*/
.home-card{
  height: 420px;
  width: 200px;
  border: unset;
  background-color: var(--bg-color);
  margin-top: 30px;
  
}
.home-img{
  height: 220px;
  width: 185px; 
  border-radius: 5px;
}
.home-card .card-text{
font-size: 0.8rem;
}
.home-card .card-text{
font-size: 0.7rem;
}
.home-card .card-body{
  height:calc(100%-220px) ;
  

}
.home-card .card-body .desc{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

.home-card .card-body .price{
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--red-color);
}
.home-card .card-body .btn{
  
  
  font-size: 0.7rem;
}
.home-card .card-body a{
  font-size: 0.9rem;
  text-decoration: unset;
}
/*end home*/
/*start login*/

 .login{
    width: 300px;
    margin: 100px auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
  }
  .login h4{
    color: #888;
  }
 .login input {
    margin-bottom: 10px;
 }

 .login .form-control{
    background-color:#EAEAEA;
 }
 .login .btn{
 background-color: #008dde;
 }
/*end login*/
/*start nav bar*/
.navbar{
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}
.navbar .navbar-brand{
  color: black;
  font-weight: bolder;
  font-size: 1.8rem;
}

.navbar>li>a,
.navbar-brand{
  padding: 15px 12px;
}
.navbar .navbar-nav  .nav-link{
  font-size: 1.2rem;
  color: rgb(48, 37, 37);
}
.navbar .navbar-nav  .nav-link:hover{
  font-weight: bold;

  overflow: hidden;
}
.dropdown-menu{
  background-color: #30302f;
color: #f4f4f4;
font-size: 1em;
border: none;
}
.dropdown-item{
  background-color: #30302f;
color: #f4f4f4;

}

/*end navbar*/
/*start profil*/
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.ads-img {
  max-width: 200px;
  object-fit: contain;
  margin-top: 20px;
}
/*end profile*/
/*start showItem*/
.custom-card-style {
  width: 350px;
  height: 450px;
}

.showItem a{
  
    font-size: unset;
    
    background-color: unset;
    text-decoration: unset;
  
}
.showItem {
  
background-color: #f4f4f4;
  
}
.comment-img img{
max-width: 64px;
margin-bottom: 10px;
}

/*end showItem*/
/*start categories*/
.card-img-top {
  object-fit:contain; /* This property ensures that the image fills the entire container while maintaining its aspect ratio */
}



.show-cat a,
.category a{
  
  font-size: unset;
  color: unset;
  background-color: unset;
  text-decoration: unset;

}
/*end categories*/
/*end tag*/

.tag-img {
  max-width: 200px;
  object-fit: contain;
  margin-top: 20px;
}
/*end tag*/
/*end tag*/

/*end tag*/
 


