:root {
  --bg-color:#Ffff;
  --mean-color:#7b6dda;
  --heading-color-blue:blue;
  --nav-color:#d8e0ff;
}
@font-face {
  font-family: Heavitas;
  src: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.eot);
  src: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.woff2) format('woff2'),
  url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.woff) format('woff'),
  url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.ttf) format('truetype'),
  url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.svg#Heavitas) format('svg'),
  url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.eot?#iefix) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
/*start main rules*/
body{
background-color:var(--bg-color);
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-size: 18px;
color: #53545a;
}
h1{
  
    color:#240138;
    font:3rem 'Heavitas', sans-serif;
    margin: 40px 0;
  }
h2{
  
    color:#240138;
    font:2rem 'Heavitas', sans-serif;
    
  }
h4{
  
    color:#240138;
    font:1rem 'Heavitas', sans-serif;
    
  }
.form-outline{
  position: relative;

}
.form-outline span.asterisk {
  position: absolute;
  top: 50%;
  color: red;
  right: 24px; /* adjust this value if needed */
  transform: translateY(-50%);
}
.form-group span.asterisk {
  position: absolute;
  top: 50%;
  color: red;
  right: 24px; /* adjust this value if needed */
  transform: translateY(-50%);
}
/* end main rules*/

/* end nav-bar
  .header{
    height: 600px;
  }*/
  /* st nav */

  .nav-img {
    max-width: 36px;
  }

  .navbar {
    
    height: fit-content;
    
  }


   /* login */
   .navbar .md .nav-item a{
    
      padding-right: 20px; 
      color: var(--mean-color) !important;
    
   }
   /* guest */
   .navbar .ed .nav-item a{
    
      padding-right: 20px; 
      color: var(--mean-color) !important;
    
   }

  .navbar .cart {
    padding: 10px 20px;
  }
  .navbar .cart svg {
    color: #30302f;
    font-size: x-large;
    top: 5;
    position: relative;
  }
  .navbar .cart .count {
  top: -5;
  }
  .navbar .cart strong {
  position: relative;
  top: 1;
  font-size: 12px;
  }
  /*navigation*/
  nav.r-nav{
    background:var(--nav-color);
    padding: 15px 0 0;
    transition: .5s all;
}

.navbar .navbar-brand {
  font-family: 'Pacifico', 'open-sans';
  color:var(--mean-color) !important;
  border-radius: 50%;
  font-size: 1.8rem;
  background-color: #fff;
}
nav .navbar-nav li a,
.navbar .cart svg{
    color: rgba(255, 255, 255, 0.922) !important;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

a.nav-link.border:hover{
  background-color: #fff;
  color: var(--mean-color) !important ;

}

nav .lg-sp .nav-link{
  border: #000;
}

/*sticky*/
nav.r-nav.stickyadd{
    background-color: var(--bg-color)!important;
    padding: 0;
    box-shadow: 0 1px 8px 3px rgb(255, 254, 254 ,0.5);
    transition: .5s all ease-in-out;
    opacity: 1;
    height: 12vh;
}


nav.stickyadd .navbar-nav .nav-link,
nav.stickyadd  .cart svg 
 {
    color: var(--mean-color) !important;
}
/* logo */
nav.stickyadd .navbar-brand {
  font-family: 'Pacifico', 'open-sans';
  color: #fff !important;
  border-radius: 50%;
  font-size: 1.8rem;
  
  background-color: var(--mean-color);
}
/* end logo */

nav.stickyadd a.nav-link.border:hover{
  background-color: var(--mean-color);
  color: #fff !important ;

}
/*start nav bar*/
.navbar{
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}
/* logo */
.navbar .navbar-brand{
  color: black;
  font-weight: bolder;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.navbar>li>a,
.navbar-brand{
  padding: 15px 12px;
}
.navbar .navbar-nav  .nav-link{
  font-size: 1.2rem;
  color:var(--mean-color);
}
.navbar .navbar-nav  .nav-link:hover{
  font-weight: bold;
  overflow: hidden;
}
/* collapsed */
.navbar .navbar-toggler{
  border: unset;
 color: var(--mean-color);
}
.navbar .navbar-toggler svg{
  font-size: 1.5rem;
 color: var(--mean-color);
}
.navbar .collapse.show{
  background-color: var(--nav-color);
  border-bottom: solid var(--mean-color) 2px;
}
.navbar .collapse.show li {
  color: var(--mean-color) !important;
  
}
.navbar .collapse.show li:hover {
  color: var(--mean-color) !important;
  background-color: #FFF;
  color: var(--mean-color);
}
.navbar .collapse.show .border{
  border: unset !important;
  padding-left: 0px !important;
}
/* end-collapse */
/* dropdown */
ul.dropdown-menu.show,
ul.dropdown-menu.show .dropdown-item{
 background-color: var(--nav-color);
}
ul.dropdown-menu.show .dropdown-item:hover{
 background-color: #FFF;
 color: var(--mean-color);
}
ul.dropdown-menu.show{
  border: solid var(--mean-color) 2px;
}

ul.dropdown-menu.show .dropdown-item:hover{
 background-color: var(--mean-color);
 color: #FFF !important;
}
.dropdown-menu{
background-color: #30302f;
color: #f4f4f4;
font-size: 1em;
border: none;
}
.dropdown-item{
background-color: #30302f;
color: #f4f4f4;
}
/* end dropdown */
/*end navbar*/

/* end nav-bar*/
/* st hero*/

.hero-btns .btn:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff !important;
  transform: translateY(-7px);
  transition: all 0.5s;
  border: none;
}

.ag-maecenas_title .hero-btns .btn {
  color: var(--mean-color);
  
}
/*buble*/

.bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
  }
  
  .bubbles  {
  position: relative;
  margin: 0.2em 0 0;
  font-family: 'Luckiest Guy', cursive;
  color: #e8c4ad;
  z-index: 2;
  }
  
  .individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #fff;
  z-index: 1;
  }
/*buble*/



  
.ag-format-container,
.ag-format-container .logo {
  width: 40% ;
  color: var(--mean-color);
}
.ag-maecenas-block .h2{
  margin: 0 !important;
  width: 100px;
}

.ag-maecenas_title {
  padding: 100px 0;
  height: 100vh;
  width: 100%;
  background-image: url('panier.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: start;
  /* padding-left: calc(100% - 95%); */
  font-family: 'Heavitas', sans-serif;
  font-weight: bold;
  font-size: 120px;
  color: var(--mean-color);
  position: relative;
  background-color: var(--mean-color); /* Default background color */

}



/* Media query for screens under the "lg" breakpoint */
@media (min-width: 991px) {
  .navbar .md,
  .navbar .ed{
   display: flex;
  }
  .navbar .md{
   margin-left: 9rem;
   
 }
 .ag-maecenas_title:before {
  content: "";
  height: 125px;
  width: 100%;
  /*lmoja*/
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/animation-wave-shadow/images/wave.svg) repeat-x scroll 0 0;
  -webkit-background-size: 1600px 198px;
  -moz-background-size: 1600px 198px;
  -o-background-size: 1600px 198px;
  background-size: 1600px 198px;

  position: absolute;
  left: 0;
  bottom: 0;

  -webkit-filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));
  filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));

  -webkit-animation: an-wave 20s linear infinite;
  -moz-animation: an-wave 20s linear infinite;
  -o-animation: an-wave 20s linear infinite;
  animation: an-wave 20s linear infinite;
}

@-webkit-keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}
@-moz-keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}
@-o-keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}
@keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}
 }
 
 @media (max-width: 992px) {
   .ag-maecenas_title {
     background-color: #d8e0ff; /* Change background color to #d8e0ff */
     background-image: unset;
     width: 100% ;
     text-align: center;
     padding: 40px 0 30px;
     height: 90vh;
     
   }
   .ag-maecenas_title .ag-format-container,
   .ag-format-container .logo {
     width: 100% ;
     text-align: center;
   }
   .ag-maecenas_title:before {
    content: "";
    height: 80px;
    width: 100%;
    /*lmoja*/
    background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/animation-wave-shadow/images/wave.svg) repeat-x scroll 0 0;
    -webkit-background-size: 1600px 198px;
    -moz-background-size: 1600px 198px;
    -o-background-size: 1600px 198px;
    background-size: 1600px 198px;
  
    position: absolute;
    left: 0;
    bottom: 0;
  
    -webkit-filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));
    filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));
  
    -webkit-animation: an-wave 20s linear infinite;
    -moz-animation: an-wave 20s linear infinite;
    -o-animation: an-wave 20s linear infinite;
    animation: an-wave 20s linear infinite;
  }
  @-webkit-keyframes an-wave {
    90% {
      background-position-x: -1600px;
    }
  }
  @-moz-keyframes an-wave {
    90% {
      background-position-x: -1600px;
    }
  }
  @-o-keyframes an-wave {
    90% {
      background-position-x: -1600px;
    }
  }
  @keyframes an-wave {
    90% {
      background-position-x: -1600px;
    }
  }
 }
@media screen and (max-width: 979px) {
  .ag-maecenas_title {
    
    
    padding-left: 0;
    width: 100% ;
    text-align: center;
  }
  .ag-format-container,
  .ag-format-container .logo {
    width: 100% ;
    text-align: center;
  }
  #login-img{
    background-image: url('login_img.png');
    
    height: 5vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
  
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 90%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-maecenas_title {
    font-size: 60px;
  }
}

@media only screen and (max-width: 479px) {
  .ag-maecenas_title {
    font-size: 40px;
    height: 70vh;
  }
  .ag-format-container,
  .ag-format-container .logo {
    width: 100% ;
    text-align: center;
  }
  .ag-format-container .logo{
    margin: 30% 0 20px;
  }
  #login-img{
    background-image: url('login_img.png');
    
    height: 80vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
}

@media only screen and (max-width: 361px) {
  .About{
    text-align: center;
  }

  .ag-maecenas_title {
    font-size: 40px;
    height: 70vh;
    padding-left: 0;
  }
  .ag-format-container,
  .ag-format-container .logo {
    width: 95% ;
    text-align: center;
  }
  .ag-format-container .logo{
    margin: 5% 0 20px;
    font-size: 4rem;
  }
  .ag-format-container p{
    font-size: 1rem;
    font-weight: lighter;
  }
  #login-img{
    background-image: url('login_img.png');
    
    height: 80vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
}
@media only screen and (max-width: 281px) {
  .ag-maecenas_title {
    
    height: 80vh;
    padding-left: 0;
    width: 100% ;
    text-align: center;
  }
  .ag-format-container {
   font-size: 15px;  
  }
  .ag-maecenas-block .hero-btns .btn {
    margin: 30px 30px 0;
    color: var(--mean-color);
    font-size: 12px;
}
  .ag-format-container .logo{
    margin: 15% 0 20px;
    font-size: 36;
  }
  #login-img{
    background-image: url('login_img.png');
    
    height: 80vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 500px;
  }

}



/* end landing*/
/* start aboutUsPage */
.aboutUsPage{
  background-image: url('../site-img/team.png');
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  margin-top:42px ;
}
.our-work-img{
  background-image: url('../site-img/our-work.png');
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  margin:42px 0px 20px 30px;
}
.the-team-img{
  background-image: url('../site-img/the-team.png');
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  margin:42px 0px 20px 30px;
}
.abus h1{
  font-stretch: extra-expanded;
}
.our-team span{
  font-family: 'Pacifico', 'open-sans';
  color: #fff !important;
  border-radius: 50%;
  font-size: 5rem;
  background-color: var(--mean-color);
  padding: 1.5rem;
}

.quote svg{
  font-family: 'Pacifico', 'open-sans';
  font-size: 2rem;
  font-weight: bolder;
  color:#000
}
.our-work p{
  font-family: 'Pacifico', 'open-sans';
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
.our-work small{
  font-family: 'Roboto', 'open-sans';
  font-size: 1rem;
  font-weight: lighter;
  color:#333
}
/* end aboutUsPage */
/*start home*/
.service{
  background-color: #fff;
  padding: 2.5rem 0 4rem;
}
.service h5{
font-weight: bolder;
font:1rem 'Heavitas', sans-serif;

}
.service p{
font-weight:normal;
font:0.8rem 'Roboto', sans-serif;

}
.service svg{
  font-size: 2.2rem;
  position: relative;
  top: -10px;
  left: -10px;
  color: #423587;
}
section{
  margin: 100px 0;
}
.About li a{
  color: #000;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  transition: 0.5s all;
  line-height: 40px;
  display: inline-block;
  margin-left: 20px;
  padding:10px;
}
.About li a:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
  transition: all 0.5s;
  border: none;
}
.About .aboutUs-text{
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  color: #240138;
  font-size: 1rem;
  font:'Heavitas', sans-serif;

}
.word{
  color: var(--mean-color);
  }


.home-card{
  height: 470px;
  width: 230px;
  border: unset;
  background-color: var(--bg-color);
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
 
 
}
.home-img{
  height: 220px;
  width: 100%;
  padding: 12px; 
  align-items: center;
  border-radius: 5px;
}
.home-card .card-text{
font-size: 0.8rem;
}
.home-card .card-text{
font-size: 0.7rem;
}
.home-card .card-body{
  height:calc(100%-220px) ;
  

}
.home-card .card-body .desc{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

.home-card .card-body .price{
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--mean-color);
}
.home-card .card-body .btn{
  font-size: 0.7rem;
}
.home-card .card-body a{
  font-size: 0.9rem;
  text-decoration: unset;
}
.home-card .card-body .btns .btn{
    background-color:var(--mean-color);
    color: #fff;
}
.home-card .card-body .btns .btn:hover{
  border: 1px solid #2EE59D !important;
  color:var(--mean-color) !important;
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff !important;
  transform: translateY(-7px);
  transition: all 0.5s;
  border: none;
}
.show-more a{
  
  border: 1px solid var(--mean-color) !important;
  color:var(--mean-color) !important;
}
.show-more a:hover{
  
  border: 1px solid #2EE59D !important;
  color:var(--mean-color) !important;
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff !important;
  transform: translateY(-7px);
  transition: all 0.5s;
  border: none;
}

.feedback h1 {
  margin-top: unset !important;
margin-bottom: 20px;
font-weight: bolder !important;
color: #240138 !important;
font: 2rem 'Heavitas', sans-serif !important;
}
.feedback svg {
margin-bottom: 8px;
font-weight: bolder !important;
font-size: 2rem ;
}
.feedback .f1 .text,
.feedback .f3  .text{
background-color: #f5f5f5;
padding: 30px;
margin-bottom: 20px;

}
.feedback .f2 .text {
background-color: var(--mean-color);
color: #fff;
padding: 30px;
margin-bottom: 20px;
}
.feedback .f1 
.feedback .f2  
.feedback .f3  {
width: 30%;
}

/*  container*/   
#login-condition {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #7b6ddad6;
  padding: 20px;
  border: 1px solid #d8e0ff;
  box-shadow:0px 15px 20px #b5c3f9; ;
  border-radius: 30px;
  width: 400px;
  height: 200px;
  z-index: 1000;
  
}
#login-condition p{
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  

  
}
  /*  container*/  

/*  button close and login*/
#login-condition .btns{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  .CloLog {

    border: none;
    font-size: large;
    font-weight: 500;
    margin-bottom: 1rem;
    border-radius:20px;
    padding: 10px;
    width: 100px;
    color:#7b6dda ;
}
.CloLog:hover{
background-color: #2EE59D;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff;
transform: translateY(-7px);
transition: all 0.5s;

}
.CloLog a{
  text-decoration: none;
  color: #7b6dda;
}
.CloLog a:hover{
color: #fff;
}
/*  button close and login*/

/*end home*/

/* start showItem */


.showItem .info{
  margin-top: 3rem;
}
/* end showItem */
/*start login*/
  .log-sign{
background-color: var(--nav-color) !important;
padding: 45px 0 200px ;
  }

  #login-img{
    background-image: url('./login_img.png');
    
    height: 90vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
  @media (max-width: 767px) {
    #login-img {
      display: none;
    }
    
  }
  @media (max-width: 992px) {
    .phone-hide{
      display: none;
    }
    
  }
  @media (min-width: 992px) {
    .nav-search-pc{
      display: none;
    }
    
  }

 .login{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color:  #f6f6f6;;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
    color:var(--mean-color);
  }

  #login{
    color: var(--mean-color) !important;
  }

 .login input {
    margin-bottom: 40px;
    height: 6vh;
 }
 .login input:focus {
  box-shadow: 0 0 15px 1px var(--mean-color );
 }

 .login .form-control{
    background-color:#EAEAEA;
    color: var(--mean-color);
 }
 .login label{
  padding-bottom: 7px;
  padding-left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
 }
 .login .btn{
 background-color: var(--mean-color);
 color: #FFF;
 width: 100%;
 border: var(--nav-color);
 }
 .login .btn:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff !important;
  transform: translateY(-7px);
  transition: all 0.5s;
  border: none;
 }
/*end login*/
/*start contact*/
.contact{
  background-color: #fff !important;
  padding: 45px 0 200px ;
    }
.contact-us{
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-color:  #f6f6f6;;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
  color:var(--mean-color);
}

  #contact-img{
    background-image: url('../site-img/contact-us.png');
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    
  }
  @media (max-width: 767px) {
    #contact-img {
      display: none;
    }
  }



  #contact-us{
    color: var(--mean-color) !important;
  }

 .contact input {
    margin-bottom: 40px;
    height: 6vh;
 }
 .contact input:focus {
  box-shadow: 0 0 15px 1px var(--mean-color );
 }

 .contact .form-control{
    background-color:#EAEAEA;
    color: var(--mean-color);
 }
 .contact label{
  padding-bottom: 7px;
  padding-left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
 }
 .contact .btn{
 background-color: var(--mean-color);
 color: #FFF;
 width: 100%;
 border: var(--nav-color);
 }
 .contact .btn:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff !important;
  transform: translateY(-7px);
  transition: all 0.5s;
  border: none;
 }
/*end contact*/
/* start sign Up */
#signUp-img{
  background-image: url('signUp.png');

  height: 90vh;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}
@media (max-width: 767px) {
  #signUp-img {
    display: none;
  }
}


.signUp{
  width: 95%;
  height: 90%;
  margin: 0 auto;
  background-color:  #f6f6f6;;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
  color:var(--mean-color);
}
#signUp{
  color: var(--mean-color) !important;
}
.signUp input {
  margin-bottom: 40px;
  height: 6vh;
}
.signUp input:focus {
box-shadow: 0 0 15px 1px var(--mean-color );
}

.signUp .form-control{
  background-color:#EAEAEA;
  color: var(--mean-color);
}
.signUp label{
padding-bottom: 7px;
padding-left: 15px;
font-size: 1.5rem;
font-weight: bold;
}
.signUp .btn{
background-color: var(--mean-color);
color: #FFF;
width: 100%;
border: var(--nav-color);
}
.signUp .btn:hover{
background-color: #2EE59D;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff !important;
transform: translateY(-7px);
transition: all 0.5s;
border: none;
}
/* end sign Up */
/*start profil*/



/* houssam */
.profile{
  background-color: var(--nav-color);
  height: 50vh;
  width: 100%;
  margin: 76px  0 90px;

}
.profile h1{

 color: white;
 margin: 0;
 padding-top: 50px;
}
.detail_profile {
  background-color: #f4f4f4;
  width: 60%;
  height: 220px;
  border-radius: 15px;
  margin: 5% auto;
  font-size: 16px;
}

.detail_profile img {
  margin: 12px;
  width: 150px;
}

@media (max-width: 1200px) {
  .profile h1{
    padding-top: 30px;
   }
  .profile{
    background-color: var(--nav-color);
    margin-top: 76px;
    height: 45vh;
  
  }
  .detail_profile {
    margin: 5% auto;
    height: 250px;
    width: 60%;
  }

  .detail_profile img {
    width: 100px;
  }
}
@media (max-width: 913px) {
  .profile h1{
    padding-top: 20px;
   }
  .profile{
    background-color: var(--nav-color);
    height: 40vh;
    width: 100%;
    margin: 76px 0 90px;
  
  }
  .detail_profile {
    margin: 4% auto;
    height: 200px;
    width: 70%;
  }

  .detail_profile img {

    width: 100px;
  }
}
@media (max-width: 768px) {
  .profile{
    background-color: var(--nav-color);
    height: 35vh;
    width: 100%;
    margin-bottom: 100px;
   
  
  }
  .detail_profile {
    width: 80%;
    height: 180px;
    margin: 3% auto;
    font-size: 12px;
  }

  .detail_profile img {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .profile{
    height: 30vh;
    margin-bottom: 116px;
  
  }
  .profile h1 {
    color: white;
    margin: 0;
    font-size: 1.5rem;
    padding-top: 10px;
}
  .detail_profile {
    width: 90%;
    height: 150px;
    font-size: 11px;
    margin: 2% auto;
  }

  .detail_profile img {
    width: 80px;
  }
}

/* houssam */

.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.ads-img {
  max-width: 200px;
  object-fit: contain;
  margin-top: 20px;
}
/*end profile*/
/*start showItem*/
.custom-card-style {
  width: 350px;
  height: 450px;
}

.showItem a{
  
    font-size: unset;
    
    background-color: unset;
    text-decoration: unset;
  
}
.showItem {
  
background-color: #f4f4f4;
border-radius: 50px;
  
}
.showItem form {
  
  margin: 6px 0 0;
  height: 61px;
  
}
.showItem .items-btns .btn{
  color: white;
background-color: var(--mean-color);
text-transform: uppercase;
font-weight: bolder;
font:1.4rem 'Heavitas', sans-serif; ;
padding: 15px;
margin-bottom: 10px;
}
.showItem .items-btns .btn:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff !important;
  transform: translateY(-7px);
  transition: all 0.5s;
  border: none;
}
.showItem .heading{
  color: var(--mean-color);
  text-transform: uppercase;
  font-weight: bolder;
  font:1.4rem 'Heavitas', sans-serif; ;
  padding: 15px;
  margin-bottom: 10px;
}
.showItem img.item-image {
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  min-height: 450px;
}
.comment-img img{
max-width: 64px;
margin-bottom: 10px;
}

/*end showItem*/
/*start categories*/
.seperator{
  margin-top: 170px;
}
.card-img-top {
  object-fit:contain; /* This property ensures that the image fills the entire container while maintaining its aspect ratio */
}
.category {
 
 background-color: #fff;
 padding: 20px;
}


.show-cat a,
.category a{
  
  font-size: unset;
  color: unset;
  background-color: unset;
  text-decoration: unset;

}

.card{
 background-color: #f4f4f4;
 border: unset;
}
.all-categories .card.search{
  margin-bottom: 20px;
  border: unset;
}
.all-categories  #search-item,
#search-item-nav{

  outline: none;
  border-radius: 10px;
  border: 1px solid #f4f4f4 ;
  padding: 8px;
  width: 80%;
  margin-right: 8px;
  
  }
  .all-categories  #search-item:focus,
  #search-item-nav:focus{
      box-shadow: 0 0 15px 1px var(--mean-color);
  }
  .all-categories  .filter{
      font-family:'Roboto', sans-serif;
      color: #53545a;

  }


.all-categories ul li{
background-color: #f4f4f4   ;
border: unset;

}
.all-categories ul .list-group-item.parent a{
  color: #050505;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;;

}
.all-categories ul .child a{
  color: #423587;
  text-decoration: none;
  font-family: 'Heavitas', sans-serif;
  font-size: 0.8rem;

}
.all-categories ul .list-group-item.parent:hover,
.all-categories ul .list-group-item.parent a:hover{
  color:#2EE59D;
}
.cat-nav.card-body{
  background-color: #f5f5f5;
  padding: 15px 0 5px   ;
    margin: 0 0 15px;
}

.all-product{
  background-color: #f4f4f4;
  padding: 2rem ;
}
/*end categories*/
/*end tag*/

.tag-img {
  max-width: 200px;
  object-fit: contain;
  margin-top: 20px;
}
/*end tag*/
/*end tag*/

/*end tag*/
 


/* start footer */
footer{
  background-color: var(--nav-color);
  color: #240138;
}
footer h3{
  padding-top: 10px;
  color: #240138;
  font: 1.2rem 'Heavitas', sans-serif !important;

}
footer .logo{

  font-family: 'Pacifico', 'open-sans';
  color: #fff !important;
  border-radius: 50%;
  font-size: 1.8rem;
  background-color: var(--mean-color);
  width: 92px;
  height: 73px;
}
footer .btn{
  border: 1px solid var(--mean-color) !important;
  color:#fff !important;
  background-color: var(--mean-color);
}
footer .submit .btn{
font-size: 12px;
}
footer .btn:hover{
  
  border: 1px solid #2EE59D !important;
  color:var(--mean-color) !important;
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff !important;
  transform: translateY(-7px);
  transition: all 0.5s;
  border: none;
  
}
footer .list-group,
footer .list-group-item{
  background: transparent !important;
  
}
footer .list-group-item{
 padding:5px;
  
}

footer .list-group-item a{
  color: var(--mean-color);
  text-decoration: none;
}
footer .list-group-item a:hover{
  color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
  transition: all 0.5s;
  
}
footer .copyright{
  background-color: rgba(0, 0, 0, 0.2)
}
footer .copyright a{
  color: #240138;
}
footer .copyright a:hover{
  border-bottom: 1px solid #2EE59D !important;
  color: #079b60;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
  transition: all 0.5s;
}
/* end footer */